# Pipfile
# 1. pip install pipenv
# 2. pipenv install --dev
# 3. pipenv shell

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = ">=5.2.0"
pytest-cov = "==2.6.1"
setuptools = "*"
wheel = "*"
twine = "*"

[packages]
Flask = ">=1.1.2,<1.2"
Flask-Migrate = ">=2.3.1,<2.8"
Flask-Script = ">=2.0.6,<2.1"
Flask-SQLAlchemy = ">=2.5.1,<2.6"
Flask-WTF = ">=0.14.3,<0.15"
Flask-User = ">=1.0.2.2,<1.1"
Flask-JWT-Extended = ">=4.1.0,<4.2"
Flask-Caching = ">=1.10.1,<1.11"
Flask-Cors = ">=3.0.7,<3.1"
flask-expects-json = ">=1.5.0,<1.6"
gevent = ">=1.4.0,<20.12"
pymagnitude = ">=0.1.120,<0.2"
cwb-ccc = ">=0.10.1,<0.11"

[requires]
python_version = "3.9"
