# Pipfile
# 1. pip install pipenv
# 2. pipenv install --dev
# 3. pipenv shell

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "==4.1.1"
pytest-cov = "==2.6.1"
attrs = "==19.1.0"
setuptools = "*"
wheel = "*"
twine = "*"

[packages]
cython = "*"
Flask = "==1.0.2"
Flask-Migrate = "==2.3.1"
Flask-Script = "==2.0.6"
Flask-SQLAlchemy = "==2.3.2"
Flask-WTF = "==0.14.2"
Flask-User = "==1.0.1.5"
Flask-JWT-Extended = "==3.15.0"
Flask-Caching = "==1.4.0"
pymagnitude = "==0.1.120"
numpy = "*"
pandas = ">=0.24.2"
cwb-ccc = "==0.9.11"
