{% extends 'macros/base.html' %}

{% import 'macros/helpers.html' as h %}

{% block title %}
{{ super() }}
<li><a>New macro</a></li>
{% endblock %}

{% block content %}
<!-- corpus: <em>{{ corpus['cwb_id'] }}</em><br/> -->
<!-- available s-attributes: <em>{{ corpus['s_atts'] }}</em> -->

<form>
  {{ h.macro_form(name=request.form['name'],macro=request.form['macro']) }}
  <input type="button" class="button is-link is-light" onclick="sendForm('{{ url_for('macros.create') }}',this);" value="Save">
</form>

{% endblock %}
