{% extends 'macros/base.html' %}
{% import 'helpers/controls.html' as c %}
{% block title %}
{{ super() }}
<li><a href="{{ url_for('macros.update', id=macro.id, cwb_id=cwb_id) }}">{{ macro.name }}</a></li>
<li><a>Frequencies</a></li>
{% endblock %}

{% block header %}
{{ c.edit_button(action=url_for('macros.update', id=macro.id, cwb_id=cwb_id)) }}
{% endblock %}

{% block content %}
<div class="table-container">
<table class="table is-striped is-hoverable is-narrow sortable" style="overflow: auto;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Frequency</th>
    </tr>
  </thead>
  <tbody>
  {% for k,freq in frequencies.iterrows() %}
  <tr>
    <th>{{ freq["name"] }}</th>
    <td>{{ freq["freq"] }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
