{% extends 'macros/base.html' %}

{% import 'helpers/controls.html' as c %}

{% block header %}
{{ c.add_button(action=url_for('macros.create')) }}
{% endblock %}

{% block content %}
{% call c.block("Definitions") %}
<table class="table is-striped is-hoverable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for macro in macros %}
  <tr>
    <th><a href="{{ url_for('macros.update', id=macro.id) }}">{{ macro.name }}</a></th>
    <td class="field has-addons">
      <p class="control">
        {{ c.edit_button(action=url_for('macros.update', id=macro.id)) }}
      </p>
      <p class="control">
        {{ c.run_button(action=url_for('macros.frequencies', id=macro.id), text="Frequencies") }}
      </p>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endcall %}

{% call c.block("Active in " + corpus['cwb_id']) %}
<ul class="is-flex is-flex-wrap-wrap">
  {% for macro in corpus['macros'] %}
  <li class="button is-static m-1">
    {{ macro[1:] }}
  </li>
  {% endfor %}
</ul>
{% endcall %}
{% endblock %}
