{% extends 'macros/base.html' %}

{% block title %}<li><a>{{ macro['name'] }}</a></li>{% endblock %}

{% block content %}

<form method="post">
  
  <label for="name">name ([A-Za-z_])</label>
  <input name="name" id="name" value="{{ request.form['name'] or macro['name'] }}" required>
  <label for="macro">macro</label>
  <textarea name="macro" id="macro">{{ request.form['macro'] or macro['macro'] }}</textarea>
  <input type="submit" value="Save">

</form>
<form action="{{ url_for('macros.delete_cmd', id=macro.id) }}" method="post">
  <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>

{% endblock %}
