{% extends 'macros/base.html' %}
{% import 'helpers/forms.html' as f %}
{% import 'helpers/controls.html' as c %}
{% import 'macros/helpers.html' as h %}

{% block title %}
{{ super () }}
<li><a>{{ macro['name'] }}</a></li>
{% endblock %}

{% block content %}

<form>
  {{ h.macro_form(name=macro.name,macro=macro.macro) }}
  <div class="field is-grouped">
  <input type="button" class="button is-link is-light" onclick="sendForm('{{ url_for('macros.update', id=macro.id) }}',this);" value="Save">
  <form action="{{ url_for('macros.delete_cmd', id=macro.id) }}" method="post">
      <input class="button is-danger is-light" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
  </div>
</form>

{% endblock %}
