{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Word Lists{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('word_list.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for word_list in word_lists %}
    <article class="post">
      <header>
        <div>
          <h1>{{ word_list['title'] }}</h1>
          <div class="about">by {{ word_list['username'] }} on {{ word_list['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == word_list['author_id'] %}
          <a class="action" href="{{ url_for('word_list.update',
				  id=word_list['id']) }}">Edit</a>
	  <a class="action" href="{{
        url_for('word_list.show_similar_ones', id=word_list['id'])
        }}">Similarity</a>
        {% endif %}
      </header>
      <p class="body">{{ word_list['lemmata'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
