#top-section{
    overflow: hidden;
    /*width: 800px;*/
}

#select-query{
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid black;
    background: white;
    width: 50%;
    height: 200px;
    float: left;
}

#show-list{
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid black;
    height: 200px;
}

#show-query-results{
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid black;
    height: 300px;
}

.match-highlight {
    background: yellow;
}

.anchor-highlight:hover {
    background-color: darkorange;
}

.anchor {
    color: blue;
}

#query-formula {
    color: cadetblue;
}

.tooltip {
    background: rgb(0,0,.9);
    color: white;
    font-size: 10px;
    padding: 20px;
    display: none;
    position: absolute;
}

.tooltip-area {
    cursor: pointer;
}