#top-section{
    overflow: hidden;
    /*width: 800px;*/
}

#select-query{
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid black;
    background: white;
    width: 50%;
    height: 200px;
    float: left;
}

#show-list{
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid black;
    height: 200px;
}

#show-query-results{
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid black;
    height: 300px;
}

.text-content{
    padding: 10px 10px;
}

#query-results th {
    display: none;
}

.match-highlight {
    background: yellow;
}

.anchor-highlight:hover {
    background-color: darkorange;
    cursor: help;
}

.anchor {
    color: blue;
}

.tooltip {
    background: rgb(0,0,.9);
    color: white;
    font-size: 10px;
    padding: 20px;
    display: none;
    position: absolute;
}

.tooltip-area {
    cursor: pointer;
}

/*styling the freq table*/
.freq-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    /*min-width: 400px;*/
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/*.freq-table thead tr {
    color: #000000;
    text-align: left;
}*/

.freq-table th,
.freq-table td {
    padding: 12px 15px;
}

.freq-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

/*.freq-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}*/

/*.freq-table tbody tr:last-of-type {
    border-bottom: 2px solid;
}*/

/*.freq-table tbody tr.active-row {
    font-weight: bold;
}*/

.freq-table{
    display: none;
}

.freq-table thead tr th {
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
}

/*styling the freq table*/

.md-table {
    display: block !important;
    overflow-y: auto;
    overflow-x: auto;
}

.pop-up-window{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.pop-up-window.active {
    transform: translate(-50%, -50%) scale(1);
}

.puw-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

puw-header .puw-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.puw-header .close-puw {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.puw-content-md {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

.meta-data-button{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.coll-active, .collapsible:hover {
    background-color: #ccc;
}

.collapse-content-md {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.freq-table-page:hover{
    cursor: pointer;
}

.freq-table-page {
    padding: 10px 15px;
}