<!doctype html>
<title>spheroscope</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<nav>
  <h1><a href="{{ url_for('index') }}">spheroscope</a></h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">logout</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">register</a>
      <li><a href="{{ url_for('auth.login') }}">login</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
