<!doctype html>
<html>
<head>
  <title>spheroscope</title>

  <!-- <link rel="stylesheet" -->
  <!--       href="{{ url_for('static', filename='style.css') }}?rnd=9"> -->
  <!-- <link rel="stylesheet" -->
  <!--       href="{{ url_for('static', filename='querystyle.css') }}?rnd=1"> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">

  <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"> -->
    <!-- </script> -->
  <script id="MathJax-script" async
	      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js">
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- <script type="text/javascript" -->
<!-- 	src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> -->
<!-- </script> -->
</head>
<body>
  {% block login %}
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ url_for('index') }}">spheroscope</a>
      {% if session.corpus %}
      <span class="navbar-item">on</span>
      <a class="navbar-item" href="{{ url_for('corpora.corpus_config', cwb_id=session.corpus.resources.cwb_id) }}">{{ session.corpus.resources.cwb_id }}</a>
      {% endif %}
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">

      </div>
      <div class="navbar-end">
      {% if g.user %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">{{ g.user['username'] }}</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{ url_for('auth.logout') }}">logout</a>
          </div>

      {% else %}
        <a class="navbar-item" href="{{ url_for('auth.register') }}">register</a>
        <a class="navbar-item" href="{{ url_for('auth.login') }}">login</a>
      {% endif %}
      </div>
    </div>
  </nav>
  {% endblock %}
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="{{ url_for('index') }}">spheroscope</a></li>
      {% block title %}
      {% endblock %}
    </ul>
  </nav>

  <section class="section">
    <div class="container">
     {% block header %}
     {% endblock %}

    {% for message in get_flashed_messages() %}
    <div class="notification is-light">{{ message }}</div>
    {% endfor %}

    <div id="loading" style="display:none;">
      <progress class="progress is-medium is-primary" max="100">0%</progress>
    </div>

    {% block content %}

    {% endblock %}
    <script src="{{ url_for('static', filename='queryscript.js') }}"
	        type="text/javascript">
    </script>
    </div>
  </section>
  <script>
    $(document).ready(function() {
        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function() {
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");

        });
    });
  </script>
</body>
</html>
