<!doctype html>
<html>

  {% include 'header.html' %}

  <body>

    {% block login %}
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <div class="navbar-item">
          <div class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="{{ url_for('index') }}">spheroscope</a></li>
              {% block title %}
              {% endblock %}
            </ul>
          </div>
        </div>
        
        {% if session.corpus %}
        <span class="navbar-item">on</span>
        <a class="navbar-item" href="{{ url_for('corpora.corpus_config', cwb_id=session.corpus.resources.cwb_id) }}">{{ session.corpus.resources.cwb_id }}</a>
        {% endif %}

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
        
      </div>
      <div class="navbar-menu">
        <div class="navbar-start"></div>
        <div class="navbar-end">
          {% if g.user %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">{{ g.user['username'] }}</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{{ url_for('auth.logout') }}">logout</a>
            </div>
          </div>
          {% else %}
          <a class="navbar-item" href="{{ url_for('auth.register') }}">register</a>
          <a class="navbar-item" href="{{ url_for('auth.login') }}">login</a>
          {% endif %}
        </div>
      </div>
    </nav>
    {% endblock %}

    <section class="section">
      <div class="container">

        {% block header %}
        {% endblock %}
        
        {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="notification is-light">{{ category.upper() }}: {{ message }}</div>
        {% endfor %}

        {% block content %}
        {% endblock %}

      </div>
    </section>
    
    <script>

      function sendForm(url, self) {
        self.classList.add('is-loading');
        $.ajax({
          url: url,
          type: 'post',
          data: $(self.form).serialize(),
          success: () => {
            self.classList.remove('is-loading');
            console.log(`${url} succeeded`);
            }
        });
      }
      function runButton(url, self, args, callback) {
        self.classList.add('is-loading');
        $.ajax({
          url: url,
          type: 'post',
          data: $.param(args),
          success: result => {
            self.classList.remove('is-loading');
            console.log(`${url} succeeded`);
            callback(result);
          }
        });
      }
      
   
    </script>
  </body>

</html>
