{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div id="wrapper">
  <div id="left">
    <h3>library</h3>
    <ul>
      <li>
	<a class="action" href="{{ url_for('queries.index') }}">
	  queries
	</a>
      <li>
	<a class="action" href="{{ url_for('wordlists.index') }}">
	  wordlists
	</a>
      <li>
	<a class="action" href="{{ url_for('macros.index') }}">
	  macros
	</a>
      <li>
	<a class="action" href="{{ url_for('patterns.index') }}">
	  patterns
	</a>
    </ul>
  </div>

  <div id="right">
    <h3>settings</h3>
    <ul>
      <li>
	<a class="action" href="{{ url_for('corpora.choose') }}">
	  corpora
	</a>
      <li>
	<a class="action" href="">
	  users
	</a>
    </ul>
  </div>
</div>
{% endblock %}
