{% extends 'queries/base.html' %}
{% import 'helpers/forms.html' as forms %}
{% block title %}
{{ super() }}
<li><a>New query</a></li>
{% endblock %}

{% block content %}
<form method="post">
  {{ forms.input('name', value=(request.form['name']), label='Name') }}
  {{ forms.input('pattern', value=request.form['pattern'], label='Pattern', type='number') }}
  <div class="field">
    <label class="label">CQP</label>
    <div class="control">
      <textarea class="textarea" name="query" id="query" rows="4" cols="100">{{ request.form['query']}}</textarea>
    </div>
  </div>
  {{ forms.input('slots', value=(request.form['slots']), label='Slots') }}
  {{ forms.input('corrections', value=(request.form['corrections']), label='Corrections') }}
  <div class="field is-grouped">
    <input class="button is-link is-light" type="submit" value="Save">
    <a class="button is-warning is-light" href="{{ url_for('queries.index') }}">Cancel</a>
  </div>
</form>
{% endblock %}
