{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Queries{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('queries.create') }}">new</a>
{% endif %}
{% endblock %}

{% block content %}
<ul>
  {% for query in queries %}
  <li>
    {{ query['name'] }}
    (<a class="action" href="{{
			     url_for('patterns.show_pattern',
			     id=query['pattern'])
			     }}">pattern {{ query['pattern'] }}</a>)
    <!-- <i>(by {{ query['username'] }} -->
    <!--   on {{ query['modified'].strftime('%Y-%m-%d') }}) -->
    <!-- </i> -->
    
    {% if g.user['id'] == query['author_id'] %}
    <span style="float:right;">
      <a class="action" href="{{ 
			      url_for('queries.update', id=query['id']) 
			      }}">edit</a> – 
      <a class="action" href="{{
			      url_for('queries.run', id=query['id'])
			      }}">run</a> – 
      <a class="action" href="{{
			      url_for('queries.show_result', id=query['id'])
			      }}">result</a>
    </span>
   {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}
