{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}queries{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('queries.create') }}">new</a>
{% endif %}
{% endblock %}

{% block content %}
<ul>
  {% for query in queries %}
  <li>
    {{ query.name }} (pattern <a class="action" href="{{ url_for('patterns.pattern', id=query.pattern_id) }}">{{ query.pattern_id }}</a>)
    <span style="float:right;">
      <a class="action" href="{{ url_for('queries.update', id=query.id) }}">edit</a> – 
      <a class="action" href="{{ url_for('queries.run_cmd', id=query.id) }}">run</a> –
    </span>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{#
<!-- <i>(by {{ query['username'] }} -->
<!--   on {{ query['modified'].strftime('%Y-%m-%d') }}) -->
<!-- </i> -->
<!-- (<a class="action" href="{{ url_for('patterns.show_pattern', id=query['pattern'])}}"> -->
<!--   pattern {{ query['pattern'] }} -->
<!--     </a>) -->
<!-- <a class="action" href="{{ -->
<!--       			url_for('queries.show_result', id=query['id']) -->
<!--       			}}">result</a> -->
#}
