{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}queries{% endblock %}</h1>
<a class="action" href="{{ url_for('queries.create') }}">new</a>
<a class="action" href="{{ url_for('queries.load') }}">import</a>
{% endblock %}

{% block content %}
<ul>
  {% for query in queries %}
  <li>
    {{ query.name }} (pattern <a class="action" href="{{ url_for('patterns.pattern', id=query.pattern_id) }}">{{ query.pattern_id }}</a>)
    <span style="float:right;">
      <a class="action" href="{{ url_for('queries.update', id=query.id) }}">edit</a> –
      <a class="action" href="{{ url_for('queries.run_cmd', id=query.id) }}" onclick="$('#loading').show();">run</a> –
      <a class="action" href="{{ url_for('queries.run2_cmd', id=query.id) }}" onclick="$('#loading').show();">matches</a>
    </span>
  </li>
  {% endfor %}
</ul>
{% endblock %}
