<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">


  </head>

  <body>

    {% extends 'base.html' %}
    
    {% block header %}
    <h1>{% block title %}selected query{% endblock %}</h1>
    {% endblock %}

    {% block content %}



        <div id="top-section">

          <div id="select-query">
                <section id="shown-query">{{ selected_query|safe }}</section>
          </div>

            <div id="show-list">

              <section id="extra-information" hidden>{{ match_extra_inf }}</section>

                <section id="meta-data" hidden>{{ meta_data }}</section>

                <div id="freq-table-wrapper">
                    <section id="freq-tables" hidden>{{ frequency_table|safe }}</section>
                </div>

            </div>

        </div>

        <br>

        <div id="table-window">

          <div id="show-query-results">{{ query_table|safe }}</div>

        </div>

        <div id="overlay"></div>

        <script src="{{ url_for('static', filename='queryscript.js') }}" type="text/javascript"></script>

    {% endblock %}



  </body>
</html>

