{% extends 'base.html' %}

{% block script %}{% endblock %}
{% block login %}{% endblock %}

{% block header %}
<h1>
  {% block title %}query "{{ shown_query.name }}"{% endblock %} <sub><a href="/patterns/">What's this?</a></sub>
</h1>
{% endblock %}
  
{% block content %}

{#<form method="post">#}
<ul>
    <li> pattern <strong>{{ shown_query.pattern_id }}</strong> (-1 .. 32)
        <br>
      <span style="float:right; overflow-x:auto;"> \( {{ shown_query.pattern.preamble }} {{ shown_query.pattern.template }} \)</span>
    <li>cqp<br><p id="query-formula">{{ shown_query.cqp }}</p>
    <li>slots <strong>{{ shown_query.slots }}</strong> (dict: {slot: [start, end]})
    <li>corrections <strong>{{ shown_query.corrections }}</strong> (dict: {anchor: correction})
</ul>
{#</form>#}
  
{% endblock %}