{% extends 'queries/base.html' %}

{% import 'helpers/controls.html' as c %}
{% import 'queries/querylist.html' as q %}
{% import 'patterns/pattern_options.html' as p %}

{% block header %}

{% endblock %}

{% block content %}
<script>
  function pSelected(self) {
      const pid = self.value;
      const temp = $(self).find(":selected").attr('temp');
      const slots = temp.match(/\d+/g);
      console.log(temp);
      console.log(slots);
      $.ajax({
          url: "{{ url_for('patterns.matches', id='-1337')}}".replace("-1337", pid),
          type: 'post',
          success: result => {
              console.log(`${url} succeeded`);
              $('#results').html(result);
          }
      });
      $.each(slots, function(v) {   
          $('#slot').append($("<option>", {value : v}).text(v))
      });
  }
  function go() {
      const p1 = $('#pattern1').val();
      const slot = $('#slot').val();
      const p2 = $('#pattern2').val();
      window.location.replace("{{ url_for('patterns.subquery2', p1='-1337', slot='-1338', p2='-1339')}}".replace("-1337", p1).replace("-1338", slot).replace("-1339", slot));
  }
</script>
<div class="field">
  <label class="label">Pattern 1</label>
  <div class="field has-addons">
    <div class="control">
      <div class="select">
        <select id="pattern1" name="pattern1" onchange="pSelected(this)">
          {% for pattern in patterns | sort(attribute='id') %}
          <option value="{{ pattern.id }}" {% if pattern.retired %} disabled {% endif %} temp="{{pattern.template}}">{{ pattern.id }} <a class="button is-static">\( {{ pattern.template }} \)</a></option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">Slot</label>
    <div class="field has-addons">
      <div class="control">
        <div class="select">
          <select id="slot" name="slot">
          </select>
        </div>
      </div>
    </div>
    <div class="field">
    <label class="label">Pattern 2</label>
    <div class="field has-addons">
      <div class="control">
        <div class="select">
          <select id="pattern2" name="pattern2">
            {% for pattern in patterns | sort(attribute='id') %}
            <option value="{{ pattern.id }}" {% if pattern.retired %} disabled {% endif %}>{{ pattern.id }} <a class="button is-static">\( {{ pattern.template }} \)</a></option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <button class="button is-success is-light" value="Run" onclick="go()">
</form>
{% endblock %}
