{% extends 'patterns/base.html' %}

{% block content %}
<table class="table is-striped is-hoverable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Queries</th>
      <th>Formula</th>
      <th>Explanation</th>
    </tr>
  </thead>
  <tbody>
  {% for pattern in patterns %}
  <tr>
    <th><a href="{{ url_for('patterns.pattern', id=pattern.id) }}">{{ pattern.id }}</a></th>
    <td><a href="{{ url_for('queries.index', pattern=pattern.id) }}">{{ pattern.nr_queries }}</a></td>
    <td>\( {{ pattern.template }} \)</td>
    <td>{{ pattern.explanation }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
