{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ word_list['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or word_list['title'] }}" required>
    <label for="lemmata">Lemmata</label>
    <textarea name="lemmata" id="lemmata">{{ request.form['lemmata'] or word_list['lemmata'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('word_lists.delete', id=word_list['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
