{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}"{{ query['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
{% for conc in concordances %}
<article class="post">
  "{{ conc }}"

  <table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table> 
</article>
{% endfor %}
{% endblock %}

