{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ query['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or query['title'] }}" required>
    <label for="query">Query</label>
    <textarea name="query" id="query">{{ request.form[query] or query['query'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('queries.delete', id=query['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
