{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}corpora{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container-fluid" id="feedback">
  <form method="post">
    <ul>
      <li>available corpora
	<select class="form-control" id="corpus" name="corpus">
	  {% for corpus in corpora %}
	  <option value="{{ corpus }}"{% if corpus==active %}selected{% endif %}>
	    {{ corpus }}
	  </option>
	  {% endfor %}
	</select>
      </li>
    </ul>
    <input type="submit" value="Enter">
  </form>
</div>
{% endblock %}
