{% extends 'corpora/base.html' %}

{% block content %}
<form method="post">
  <div class="field">
    <label class="label">Available corpora</label>
    <div class="control">
      <div class="select">
	    <select name="corpus">
	    {% for corpus in corpora %}
	      <option value="{{ corpus }}"{% if corpus==active %}selected{% endif %}>
	        {{ corpus }}
	      </option>
	    {% endfor %}
	    </select>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="button is-link" type="submit" value="Enter">
    </div>
  </div>
</form>
{% endblock %}
