{% extends 'wordlists/base.html' %}

{% import 'helpers/controls.html' as c %}

{% block title %}
{{ super() }}
<li><a href="{{ url_for('wordlists.update', id=wordlist.id) }}">{{ wordlist.name }}</a></li>
<li><a>Frequencies</a></li>
{% endblock %}

{% block header %}
{{ c.run_button(action=url_for('wordlists.similar', id=wordlist.id, cwb_id=cwb_id), text="Similar") }}
{{ c.edit_button(action=url_for('wordlists.update', id=wordlist.id, cwb_id=cwb_id)) }}
{% endblock %}

{% block content %}
<div class="block">
  <strong>p-attribute</strong>: <em>{{ wordlist.p_att }}</em>
</div>
<div class="table-container">
<table class="table is-striped is-hoverable is-narrow sortable" style="overflow: auto;">
  <thead>
    <tr>
      <th>{{ wordlist.p_att|capitalize }}</th>
      <th>Frequency</th>
    </tr>
  </thead>
  <tbody>
  {% for k,freq in frequencies.iterrows() %}
  <tr>
    <th>{{ freq["name"] }}</th>
    <td>{{ freq["freq"] }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
