{% extends 'base.html' %}

{% block header %}
<h1>
  {% block title %}wordlist "{{ wordlist.name }}"{% endblock %}
</h1>
<a class="action" href="{{ url_for('wordlists.similar', id=wordlist.id, cwb_id=cwb_id) }}">
  similar
</a>
<a class="action" href="{{ url_for('wordlists.update', id=wordlist.id, cwb_id=cwb_id) }}">
  edit
</a>
{% endblock %}

{% block content %}
<article class="post">
  <br>
  corpus: <em>{{ cwb_id }}</em><br/>
  p-attribute: <em>{{ wordlist.p_att }}</em>
  <p class="body">
    {{ original | safe }}
  </p>
</article>
<hr>
{% endblock %}
