{% import 'helpers/forms.html' as forms %}

{% macro wordlist_form(name,p_att,words,corpus) %}
{{ forms.input('name', value=name, label='Name') }}

{% call forms.labelled_field("p-Attribute") %}
<div class="select">
  <select id="patt" name="p_att">
    {% for patt in corpus['p_atts'] %}
    <option value="{{ patt }}"{% if patt==p_att %} selected{% endif %}>
      {{ patt }}
    </option>
    {% endfor %}
  </select>
  </div>
  {% endcall %}
  {% call forms.labelled_field("Words") %}
  <textarea class="textarea" name="words" id="words" rows="10", cols="100">{{ words }}</textarea>
  {% endcall %}
{% endmacro %}
