{% extends 'wordlists/base.html' %}

{% import 'helpers/controls.html' as c %}

{% block header %}
{% if g.user %}
{{ c.add_button(action=url_for('wordlists.create')) }}
{% endif %}
{% endblock %}

{% block content %}
{% call c.block("Definitions") %}
<table class="table is-striped is-hoverable sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Length</th>
      <td>Modified</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
  {% for wordlist in wordlists %}
  <tr>
    <th><a href="{{ url_for('wordlists.update', id=wordlist.id) }}">{{ wordlist.name }}</a></th>
    <td>{{ wordlist.length }}</td>
    <td><time>{{ wordlist.modified.strftime('%Y-%m-%d %H:%M') }}</time></td>
    <td class="field has-addons">
      <p class="control">
        {{ c.edit_button(action=url_for('wordlists.update', id=wordlist.id)) }}
      </p>
      <p class="control">
        {{ c.run_button(action=url_for('wordlists.frequencies', id=wordlist.id), text="Marginals") }}
      </p>
      <p class="control">
        {{ c.run_button(action=url_for('wordlists.similar', id=wordlist.id), text="Similar") }}
      </p>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endcall %}
{% call c.block("Active in " + corpus['cwb_id']) %}
<ul class="is-flex is-flex-wrap-wrap">
  {% for wordlist in corpus['wordlists'] %}
  <li class="button is-static m-1">
    {{ wordlist }}
  </li>
  {% endfor %}
</ul>
{% endcall %}
{% endblock %}
