{% extends 'base.html' %}

{% block header %}
<h1>
  {% block title %}Word Lists{% endblock %}
</h1>
{% if g.user %}
<a class="action" href="{{ url_for('wordlists.create') }}">
  new
</a>
{% endif %}
{% endblock %}

{% block content %}
<ul>
  {% for wordlist in wordlists %}
  <li>
    {{ wordlist['name'] }} ({{ wordlist['length'] }})
    <span style="float:right;">
      <a class="action" href="{{ url_for('wordlists.update', id=wordlist['id']) }}">
	edit
      </a> – 
      <a class="action" href="{{ url_for('wordlists.show_frequencies', id=wordlist['id'], cwb_id=cwb_id)}} ">
      	marginals
      </a> –
      <a class="action" href="{{ url_for('wordlists.show_similar_ones', id=wordlist['id'], cwb_id=cwb_id) }}">
      	similar
      </a>
    </span>
  </li>
  {% endfor %}
</ul>
{% endblock %}
