{% extends 'wordlists/base.html' %}


{% block title %}
{{ super() }}
<li><a>{{ wordlist['name'] }}</a></li>
{% endblock %}

{% block header %}
{{ c.run_button(action=url_for('wordlists.frequencies', id=wordlist.id, cwb_id=cwb_id), text="Marginals") }}
{{ c.edit_button(action=url_for('wordlists.update', id=wordlist.id, cwb_id=cwb_id)) }}
{% endblock %}

{% block content %}
<article class="post">
  p-attribute: <em>{{ wordlist.p_att }}</em><br/>
  cut-off: <em>200 (no hapaxes)</em><br/>
  sorted by: <em>frequency</em><br/>
  <p class="body">
    {{ similar | safe }}
  </p>
</article>
<hr>
{% endblock %}
