{% extends 'base.html' %}

{% block header %}
<h1>
  {% block title %}Word List "{{ wordlist['name'] }}"{% endblock %}
</h1>
<a class="action" href="{{ url_for('wordlists.frequencies', id=wordlist.id, cwb_id=cwb_id) }}">marginals</a>
<a class="action" href="{{ url_for('wordlists.update', id=wordlist.id, cwb_id=cwb_id) }}">edit</a>
{% endblock %}

{% block content %}
<article class="post">
  cut-off: <em>200 (no hapaxes)</em><br/>
  sorted by: <em>frequency</em><br/>
  corpus: <em>{{ cwb_id }}</em><br/>
  p-attribute: <em>{{ wordlist.p_att }}</em><br/>
  <p class="body">
    {{ similar | safe }}
  </p>
</article>
<hr>
{% endblock %}
